#/folderName <== ignores the whole folder/directory
#.fileName <== ignores specific file
#*.fileExtension <== ignores all file with the extension
#folderName/folderName/folderName/file.Extension <== ignores specific file path
#!file.Extension <== if you want to exempt specific file but the extension was added as git ignore